{% load static %}

<!-- =======================
Footer START -->
<footer class="pt-5 bg-light">
		<div class="container">


		<!-- Divider -->
		<hr class="mt-4 mb-0">

		<!-- Bottom footer -->
		<div class="py-3">
			<div class="container px-0">
				<div class="text-center">
					<!-- copyright text -->
					<div class="text-primary-hover" style="direction: ltr" > © HealthyLife, 2025</div>
					<!-- copyright links-->
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->