{% load static %}

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/font-awesome/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/tiny-slider/tiny-slider.css' %}">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style-rtl.css' %}">

