{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Healthy Life - Smart Screening</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <meta name="description" content="Healthy Life - Smart Screening">
    {% include "includes/theme_script.html" %}
    {% include "includes/header_references.html" %}
</head>
<body>
    {% include "includes/header_en.html" %}
    {% block content %}{% endblock %}
    {% include "includes/footer_en.html" %}
    {% include "includes/footer_references.html" %}
</body>
</html>
