{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <title>healthy life - زندگی سالم</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <meta name="description" content="healthy life - زندگی سالم">
    {% include "includes/theme_script.html" %}
    {% include "includes/header_references.html" %}
</head>
<body>
    {% include "includes/header_fa.html" %}
    {% block content %}{% endblock %}
    {% include "includes/footer_fa.html" %}
    {% include "includes/footer_references.html" %}
</body>
</html>
