{% extends 'base_raw_fa.html' %}
{% load static %}
{% block content %}


<!-- Plugins CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'vendor/font-awesome/css/all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/tiny-slider/tiny-slider.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/glightbox/css/glightbox.css' %}">

<!-- Theme CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style-rtl.css' %}">
<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Popular course START -->
<section>
	<div class="container">
		<!-- Title -->
		<div class="row mb-4">
			<div class="col-lg-8 mx-auto text-center">
				<h2 class="fs-3">محبوب ترین دوره ها</h2>
				<p class="mb-0">هر موضوعی را در هر زمان مطالعه کنید. هزاران دوره آموزشی را با کمترین قیمت جستجو کنید!</p>
			</div>
		</div>

		<!-- Tabs START -->
		<ul class="nav nav-pills nav-pills-bg-soft justify-content-sm-center mb-4 px-3" id="screening-tab" role="tablist">
			<!-- Tab item -->
			<li class="nav-item me-2 me-sm-5">
				<button class="nav-link mb-2 mb-md-0 active" id="screeing-male" data-bs-toggle="pill" data-bs-target="#screeing-tabs-1" type="button" role="tab" aria-controls="screeing-tabs-1" aria-selected="false">غربالگری آقایان</button>
			</li>
			<!-- Tab item -->
			<li class="nav-item me-2 me-sm-5">
				<button class="nav-link mb-2 mb-md-0" id="screeing_female" data-bs-toggle="pill" data-bs-target="#screeing-tabs-2" type="button" role="tab" aria-controls="screeing-tabs-2"	aria-selected="false">غربالگری بانوان</button>
			</li>
		</ul>
		<!-- Tabs END -->



    <!-- Tabs content START -->
    <div class="tab-content" id="screeing-tabContent">

        <div class="tab-pane fade show active" id="screeing-tabs-1" role="tabpanel" aria-labelledby="screeing-tab-1">
             <!-- Wrap your content in a form -->
            <form id="assessmentsForm" method="post" action="{% url 'my_model:question_fa' %}">
            {% csrf_token %}
                <div class="row g-4">
                {% for assessment in assessments %}
                    {% if 'Male' in assessment.groups %}
                        <!-- Card item START -->
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="card shadow h-100">
                                <!-- Image -->
                                <img src="{% static 'images/courses/4by3/08.jpg' %}" class="card-img-top" alt="course image">
                                <!-- Card body -->
                                <div class="card-body pb-0">
                                    <!-- Title -->
                                    <h5 class="card-title fw-normal"><a href="#">{{ assessment.title_fa }}</a></h5>
                                    <p class="mb-2 text-truncate-2">{{ assessment.desc_fa }}</p>
                                </div>
                                <!-- Card footer -->
                                <div class="card-footer pt-0 pb-3">
                                    <hr>
                                    <div class="d-flex justify-content-center">
                                        <span class="h6 fw-light mb-0">
                                            <div class="form-check form-switch form-check-md">
                                                <input class="form-check-input assessment-check"
                                                       type="checkbox"
                                                       name="selected_assessments"
                                                       value="{{ assessment }}"
                                                       {% if assessment.active == 1 %} checked {% endif %}>
                                                <label class="form-check-label" for="checkPrivacy6"></label>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->
                    {% endif %}
                {% endfor %}
            </div> <!-- Row END -->
             <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary btn-lg w-100 mt-4 mb-0">
                        همین الان شروع کنید
                    </button>
                </div>
            </div>
            </form>
        </div>

        <div class="tab-pane fade show" id="screeing-tabs-2" role="tabpanel" aria-labelledby="screeing-tab-2">
            <div class="row g-4">
                {% for assessment in assessments %}
                    {% if 'Female' in assessment.groups %}
                        <!-- Card item START -->
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="card shadow h-100">
                                <!-- Image -->
                                <img src="{% static 'images/courses/4by3/08.jpg' %}" class="card-img-top" alt="course image">
                                <!-- Card body -->
                                <div class="card-body pb-0">
                                    <!-- Title -->
                                    <h5 class="card-title fw-normal"><a href="#">{{ assessment.title_fa }}</a></h5>
                                    <p class="mb-2 text-truncate-2">{{ assessment.desc_fa }}</p>
                                </div>
                                <!-- Card footer -->
                                <div class="card-footer pt-0 pb-3">
                                    <hr>
                                    <div class="d-flex justify-content-center">
                                        <span class="h6 fw-light mb-0">
                                            <div class="form-check form-switch form-check-md">
                                                <input class="form-check-input assessment-check"
                                                       type="checkbox"
                                                       name="selected_assessments"
                                                       value="{{ assessment.title }}"
                                                       {% if assessment.active == 1 %} checked {% endif %}>
                                                <label class="form-check-label" for="checkPrivacy6"></label>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->
                    {% endif %}
                {% endfor %}
            </div> <!-- Row END -->
        </div>

    </div>
    <!-- Tabs content END -->




	</div>
</section>
<!-- =======================
Popular course END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->


<script>
document.getElementById('assessmentsForm').addEventListener('submit', function(e) {
    // Get all checked assessments
    const checkedItems = Array.from(document.querySelectorAll('.assessment-check:checked')).map(el => el.value);

    // You could do something with them here if needed
    console.log("Selected assessments:", checkedItems);

    // Form will submit normally with all checked values
});
</script>

<!-- Bootstrap JS -->
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<!-- Vendors -->
<script src="{% static 'vendor/tiny-slider/tiny-slider-rtl.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.js' %}"></script>
<script src="{% static 'vendor/purecounterjs/dist/purecounter_vanilla.js' %}"></script>

<!-- Template Functions -->
<script src="{% static 'js/functions.js' %}"></script>

{% endblock %}
